#result {
position:absolute;
    left: 600px;
    top:  200px;
	background-color:lightblue;	
	width:300px;
	height:300px;
	z-index: 9002;
}

#breadcrumb {
	color: grey;
	font-size: 16pt;
	margin-top: 10pt;
	margin-bottom: 10pt;
}

.width200{
	width: 200px;
}

.choices {
	list-style-type: upper-alpha;
}
